<footer>
  <a href="https://astro.build/" target="_blank">Made with Astro 🚀</a>
</footer>

<style>
  footer {
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }
  footer a {
    color: var(--secondary);
    font-weight: bold;
    text-decoration: none;
  }
  footer a:hover {
    color: var(--accent);
    padding: 0.5rem;
    border-bottom: 2px dashed var(--accent);
  }
</style>
