<ul>
  <li>
    <a
      class="fa-solid fa-piggy-bank"
      href="https://livepix.gg/pixelmandy"
      target="_blank"
    >
      <span>Apoie o conteúdo com um PIX</span>
    </a>
  </li>
</ul>
<hr>
<ul>
  <li>
    <a
      class="fa-brands fa-discord"
      href="https://discord.com/invite/TgGAXqH6Zf"
      target="_blank"
    >
      <span>Venha participar do nosso Discord</span>
    </a>
  </li>
  <li>
    <a
      class="fa-brands fa-instagram"
      href="https://instagram.com/pixelmandy_"
      target="_blank"
    >
      <span>Me siga no Instagram</span>
    </a>
  </li>
  <li>
    <a
      class="fa-brands fa-tiktok"
      href="https://tiktok.com/@pixelmandy"
      target="_blank"
    >
      <span>Me siga no TikTok</span>
    </a>
  </li>
  <li>
    <a
      class="fa-brands fa-twitch"
      href="https://twitch.tv/pixelmandy"
      target="_blank"
    >
      <span>Me siga na Twitch</span>
    </a>
  </li>
  <li>
    <a
      class="fa-brands fa-youtube"
      href="https://youtube.com/@pixelmandy"
      target="_blank"
    >
      <span>Se inscreva no YouTube</span>
    </a>
  </li>
  <li>
    <a
      class="fa-solid fa-link"
      href="https://beacons.ai/pixelmandy/mediakit"
      target="_blank"
    >
      <span>Confira o meu mídia kit</span>
    </a>
  </li>
</ul>
<hr />
<ul>
  <li>
    <a
      class="fa-brands fa-itch-io"
      href="https://pixelmandy.itch.io"
      target="_blank"
    >
      <span>Confira os meus jogos no itch.io</span>
    </a>
  </li>
  <li>
    <a
      class="fa-brands fa-dev"
      href="https://dev.to/pixelmandy"
      target="_blank"
    >
      <span>Leia meus conteúdos no dev.to</span>
    </a>
  </li>
  <li>
    <a
      class="fa-brands fa-github"
      href="https://github.com/pixelmandy"
      target="_blank"
    >
      <span>Confira os meus projetos no GitHub</span>
    </a>
  </li>
  <li>
    <a
      class="fa-brands fa-linkedin"
      href="https://linkedin.com/in/pixelmandy"
      target="_blank"
    >
      <span>Me siga no Linkedin</span>
    </a>
  </li>
  <li>
    <a
      rel="me"
      class="fa-brands fa-mastodon"
      href="https://bolha.us/@amandamartinsdev"
      target="_blank"
    >
      <span>Me siga no Mastodon</span>
    </a>
  </li>
  <li>
    <a
      class="fa-solid fa-link"
      href="https://bsky.app/profile/amandamartins.dev"
      target="_blank"
    >
      <span>Me siga no Bluesky</span>
    </a>
  </li>
  <li>
    <a
      class="fa-solid fa-link"
      href="https://amandamartins.dev"
      target="_blank"
    >
      <span>Confira o meu site profissional</span>
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
  }
  ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--secondary);
    border: 2px dashed var(--accent);
    border-radius: 20px;
    padding: 0.8rem;
    margin: 0.5rem;
    transition: 0.3s;
  }
  ul a:hover {
    background-color: var(--accent);
    color: var(--secondary);
  }
  ul a span {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
  }
  hr {
    border-bottom: 2px dashed var(--secondary);
    border-top: none;
    width: 60%;
  }
</style>
